<web-app>
<servlet>
	<servlet-name>ConfigServlet</servlet-name>
	<servlet-class>ConfigServlet</servlet-class>
<init-param>
	<param-name>Driver</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
</init-param>
<init-param>
	<param-name>Image</param-name>
	<param-value>merc.jpg</param-value>
</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>ConfigServlet</servlet-name>
	<url-pattern>/config</url-pattern>
</servlet-mapping>
</web-app>